#home {
  background-color: #FFFF0A;
  background-size: cover;
  color: white;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(200,200,200,0.8);
    font-weight: lighter;
    font-size: 16px;
    text-decoration: none;
  }
  img {
    opacity:0.7;
  }
}
