---
title: Lecomotive - Team
---

<div id="about">
  <div class="about-content">
    <h1>Your hosts at L'Ecoteam are</h1>
    <ul class="list-inline">
      <% data.users.each do |user| %>
        <li>
          <% link_to "https://www.facebook.com/#{user.facebook_nickname}", target: "_blank" do %>
            <%= image_tag "#{user.github_nickname}.jpg", class: "img-circle" %>
          <% end %>
          <h2><%= user.name %></h2>
          <p>aka : <%= user.github_nickname %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
